@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* shared style */

.flex-item {
  display: flex;
}

.font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}

.list-font {
  font-weight: 700;
}

nav {
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}
ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  padding: 20px;
}
.home {
  color: #fea301;
}
.about {
  color: #01acfd;
}
.facilities {
  color: #05d4df;
}
.admission {
  color: #5d58ef;
}
.btn {
  width: 180px;
  height: 45px;
  background-color: #fea301;
  color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  border-style: none;
}

 .description {
margin-top: 0px;
}

.banner-content {
  gap: 20px;
  padding: 40px;
}
.banner-item {
  padding: 40px;
  margin-top: 20px;
}
.banner-title {
  font-size: 50px;
  font-weight: 800;
}
.banner-desc {
  font-size: 20px;
  color: black;
  margin-top: -20px;
}
.banner-btn {
  background-color: black;
  margin-top: 30px;
}
.banner-img {
  width: 50%;
  height: 50%;
}

.one-des {
  color: #fea301;
}
.two-des {
  color: #01acfd;
}

.mobile-device {
  display: none;
}

mobile-width {
  width: 50%;
}

@media screen and (max-width: 576px) {
  .nav-bar ul li,
  .btn1,
  .school {
    display: none;
  }
  .mobile-device {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
  }
  .navbar-icon {
    margin-right: 10px;
    margin-top: -75px;
  }
  nav {
    border: 1px solid orange;
    padding: 10px;
    
  }

  .banner-content{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;

}
   .banner-img{
    justify-content: center;
    align-items: center;
    width:100%;

}


}
